set gfxpayload=text
set timeout=2
set default=0
set menu_color_normal=white/black
set menu_color_highlight=black/white
menuentry "BurnOS (Smart Boot)" {
	if [ -f /boot/kernelstd.bin ]; then
		multiboot /boot/kernelstd.bin
		boot
	elif [ -f /boot/kerneldbg.bin ]; then
		multiboot /boot/kerneldbg.bin
		boot
	fi
}
if [ -f /boot/kernelstd.bin ]; then
	menuentry "BurnOS (Standard)" {
		multiboot /boot/kernelstd.bin
		boot
	}
fi
if [ -f /boot/kerneldbg.bin ]; then
	menuentry "BurnOS (Debug)" {
		multiboot /boot/kerneldbg.bin
		boot
	}
fi
menuentry "Reboot" {
	reboot
}
menuentry "Poweroff" {
	halt
}
